@charset "utf-8";
.wrap{
    width: 1200px;
}
.section {
    display: flex;
}
.header {
    width: 200px;
    background: yellowgreen;
}
.right_wrap {
    width: 1000px;
}
.slide {
    height: 400px;
    background: aqua;
}
.banner {
    height: 200px;
    background: beige;
}
.notice {
    height: 250px;
    background: yellow;
}
.footer{
    background: goldenrod;
    height: 100px;
}